@import url('headerDropdownMenu.css');

.navContainer {
  width: 100%;
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 37px 7.5%;
}

.headerLogo {
  width: 56.79px;
  height: 20px;
}

.navigationListContainer {
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.navigationListContainer a {
  margin-left: 2.4vw;
}

.headerMenuButton {
  display: none;
  cursor: pointer;
}

.navigationListContainer > a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: black;
  font-size: 16px;
  font-family: "SF Pro Text medium";
  font-weight: 500;
}

@media screen and (max-width: 860px) {
  .navigationListContainer {
    display: none;
  }

  .headerMenuButton {
    display: inline-block;
  }
}

@media screen and (max-width: 630px) {
  .navContainer {
    padding: 12px 12px;
  }
}

