.mainDropdownMenuContainer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  min-height: 500px;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  opacity: 0;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  -o-transition-property: transform, opacity;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.mainDropdownMenuContainerOpen{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  z-index: 10;
}
  
.mainDropdownMenu {
  width: 100%;
  padding: 16px 16px 24px 16px;
  background-color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  
}

.mainDropdownMenuHeader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainDropdownMenuClose {
  cursor: pointer;
}

.mainDropdownMenuContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.mainDropdownMenuContent a {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 28px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.mainDropdownMenuContent a:nth-last-child(1) {
  margin-bottom: 12px;
}

.mainDropdownMenuContent a:hover, .mainDropdownMenuContent a:active {
  color: #0B63CB;
}

.mainDropdownMenuFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mainDropdownMenuFooter svg {
  fill: #000000;
  -webkit-transition: fill 0.3s;
  -o-transition: fill 0.3s;
  transition: fill 0.3s;
} 

.mainDropdownMenuFooter a  {
  margin-right: 24px;
}

.mainDropdownMenuFooter a:hover svg, .mainDropdownMenuFooter a:active svg {
  fill: #0B63CB;
}

.mainDropdownMenuFooter a:nth-last-child(1) {
  margin-right: 0;
}

@media screen and (min-width: 861px) {
  .mainDropdownMenuContainer {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  .mainDropdownMenuContainer {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 600px;
    width: 100%;
  }
}
