.techNewsSection {
  justify-content: space-evenly;
  padding: 24px 0 48px 0;
}

.techNewsItemFooter {
  width: 100%;
  height: 64px;
  padding: 0 16px;
  background: linear-gradient(53.25deg, rgba(38, 11, 203, 0.12) -5.94%, rgba(114, 187, 228, 0.12) 106.25%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 16px;
}
