.talksItemImage {
  width: 100%;
  border-radius: 8px;
  height: auto;
}
.talksItemPlay {
  grid-area: play;
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 1em;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  }

.talksItemPlay span{
  margin-right: 4px;
}
