
@media screen and (max-width: 1200px) {
  .mainGetNewsSection {
    background-size: 22%, 8%, 100%;
    background-position: -5% 90px, 90% 28%, 0 0;
  }
}

@media screen and  (max-width: 1000px) {
  .mainGetNewsSection { 
    background-size: 20%, 6%, 100%;
    background-position: -8% 140px, 95% 28%, 0 0;
  }
}

@media screen and  (max-width: 900px) {
  .mainGetNewsSection {
    background-size: 20%, 6%, 100%;
    background-position: -8% 140px, 95% 28%, 0 0;
  }
} 

@media screen and (max-width: 860px) {
  .mainGetNewsSection {
    background: linear-gradient(135deg, rgba(171, 220, 255, 0.32) 0%, rgba(3, 150, 255, 0.32) 100%);
  }
}


  
@media screen and (max-width: 630px) {
  
  h1 {
    font-size: 48px;
    line-height: 48px;
  }

  h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .ItemTitle {
    line-height: 36px;
  }

  .main {
    gap: 48px;
  }

  .mainSection {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 600px;
    width: 100%;
    gap: 24px;
  }
  .ItemSection {
    gap: 48px;
  }

  .ItemSocial {
  padding-left: 12px;
  padding-right: 12px;
  max-width: 600px;
  width: 100%;
  }

  .techNewsItemSection {
    gap: 48px;
  }

  .mainSectionMore {
    height: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .mainSectionTitleExpand span {
    display: none;
  }

  .mainSectionTitleExpand {
    width: 47px;
  }

  .mainSectionTitleContainer {
    gap: 24px;
  }
  .mainTalksItem {
    grid-template-areas: 
    "title title"
    "play data"
    "text text";
    grid-template-columns: 1fr 1fr;
  }

  .mainGetNewsTitleContainer {
    margin-left: 12px;
    margin-right: 12px;
    width: 100%;
  }

  .mainGetNewsSection {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {  
  .FilterContainer {
    width: 100%;
    left: 0;
  }
}


