@media screen and (min-width: 1600px) {
  .header {
    background-size: 400px, 550px, 100%;
    background-position: 5% 30px, 95% 100px, 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    background-position: -6.5% 70px, 105% 120px, 0 0;
  } 
  .mainGetNewsSection {
    background-size: 22%, 8%, 100%;
    background-position: -5% 90px, 90% 28%, 0 0;
  }
}

@media screen and  (max-width: 1000px) {
  .header {
    background-size: 35%, 52%, 100%;
    background-position: 20% 70px, 85% 80px, 0 0;
  } 

  .headerContentContainer {
    margin-top: 60vw;
  }

  .mainGetNewsSection { 
    background-size: 20%, 6%, 100%;
    background-position: -8% 140px, 95% 28%, 0 0;
  }
}

@media screen and  (max-width: 900px) {
  .mainGetNewsSection {
    background-size: 20%, 6%, 100%;
    background-position: -8% 140px, 95% 28%, 0 0;
  }
} 

@media screen and (min-width: 861px) {
  .mainDropdownMenuContainer {
    display: none;
  }
}
@media screen and (max-width: 860px) {
  .header {
    background-size: 40%, 60%, 100%;
  }

  .mainGetNewsSection {
    background: linear-gradient(135deg, rgba(171, 220, 255, 0.32) 0%, rgba(3, 150, 255, 0.32) 100%);
  }

  .navigationListContainer {
    display: none;
  }

  .headerMenuButton {
    display: inline-block;
  }
}

@media screen and (max-width: 700px) {
  .header {
    background-size: 45%, 68%, 100%;
    background-position: 5% 15px, 100% 45px, 0 0;
  }
} 
  
@media screen and (max-width: 630px) {
  
  h1 {
    font-size: 48px;
    line-height: 48px;
  }

  h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .ItemTitle {
    line-height: 36px;
  }

  .header {
    background-size: 50%, 70%, 100%;
    background-position: 5% 15px, 95% 45px, 0 0;
  }

  .navContainer {
    padding: 12px 12px;
  }

  .headerContentContainer {
    margin-top: 65vw;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 600px;
    width: 100%;
    gap: 24px;
  }

  .headerPagesContentContainer {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 600px;
    width: 100%;
  }

  .headerTextContainer {
    gap: 24px;
  }

  .headerTextContainer p {
    font-size: 16px;
    line-height: 24px;
  }

  .headerSearchInput {
    margin-top: 56px;
  }

  .headerTextButtons {
    gap: 16px;
  }

  .headerTextButton {
    width: 139px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .headerChipsContainer {
    margin-bottom: 48px;
  }

  .headerChip {
    opacity: 0.8;
  }

  .main {
    gap: 48px;
  }

  .mainSection {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 600px;
    width: 100%;
    gap: 24px;
  }
  .ItemSection {
    gap: 48px;
  }

  .ItemSocial {
  padding-left: 12px;
  padding-right: 12px;
  max-width: 600px;
  width: 100%;
  }

  .techNewsItemSection {
    gap: 48px;
  }

  .mainSectionMore {
    height: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .mainSectionTitleExpand span {
    display: none;
  }

  .mainSectionTitleExpand {
    width: 47px;
  }

  .mainSectionTitleContainer {
    gap: 24px;
  }
  .mainTalksItem {
    grid-template-areas: 
    "title title"
    "play data"
    "text text";
    grid-template-columns: 1fr 1fr;
  }

  .mainGetNewsTitleContainer {
    margin-left: 12px;
    margin-right: 12px;
    width: 100%;
  }

  .mainGetNewsSection {
    width: 100%;
  }

  .footer {
    height: 290px;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 32px 1fr;
    padding: 34px 12px 48px 12px;
    gap: 32px;
  }

  .footerColumn:nth-child(3) {
    align-items: flex-start;
    gap: 32px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 630px) {
  .footerColumn:nth-child(3) > * {
    margin-top: 32px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    background-size:  57%, 80%, 100%;
    background-position: -5% 15px, 105% 45px, 0 0;
  }
  .headerContentContainer {
    margin-top: 75vw;
  }
}

@media screen and (max-width: 450px) {
  .header {
    background-size:  60%, 83%, 100%;
    background-position: -8% 15px, 130% 45px, 0 0;
  }
}

@media screen and (max-width: 400px) {
  .header {
    background-size:  65%, 93%, 100%;
    background-position: -15% 15px, 300% 45px, 0 0;
  }
  .headerContentContainer {
    margin-top: 90vw;
  }
  .mainDropdownMenuContainer {
    width: 100%;
    left: 0;
  }
  .FilterContainer {
    width: 100%;
    left: 0;
  }
}
