


  
@media screen and (max-width: 630px) {
  
  .ItemTitle {
    line-height: 36px;
  }
  
  .ItemSection {
    gap: 48px;
  }

  .ItemSocial {
  padding-left: 12px;
  padding-right: 12px;
  max-width: 600px;
  width: 100%;
  }

  .techNewsItemSection {
    gap: 48px;
  }

 

@media screen and (max-width: 400px) {  
  .FilterContainer {
    width: 100%;
    left: 0;
  }
}
