.backLink {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: calc(7.5% - 12px);
}

.backLink a {
  display: inline-block;
  padding: 12px;
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
  color: inherit;
}

.backLink a:hover, .backLink a:active {
  color: #0B63CB;
}

.backLink svg {
  display: inline-block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 14.6px;
  height: 12px;
  -webkit-transition: fill 300ms;
  -o-transition: fill 300ms;
  transition: fill 300ms;
}

.backLink a:hover svg, .backLink a:active svg {
  fill:#0B63CB;
}

@media screen and (max-width: 860px) {
  .backLink {
    margin-top: 0;
    margin-bottom: 28px;
    margin-left: 0;
    font-size: 12px;
  }

  .backLink svg {
    width: 11px;
    height: 9px;
  }
}
