.backLink {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 12px;
  margin-bottom: 32px;
  margin-left: 7.5%
}

.backLink svg {
  display: inline-block;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 860px) {
  .backLink {
    margin-bottom: 40px;
    margin-left: 12px;
  }
}