.techNewsFilterBlocksContainer {
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: auto;
  margin-top: 24px;
  overflow: visible;
}

.blockContainerClicked {
  transition: left 0.5s ease-out;
}

.blockContainerMoved {
  transition: left 0.1s ease-out;
}

.techNewsFilterBlocksContainer h3 {
  font-size: 24px;
  line-height: 28px;
}

.techNewsFilterBlockItem {
  position: relative;
  margin-right: 12px;
  padding: 16px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 220px;
  height: 142px;
  background:  rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer;
}

.techNewsFilterBlockItem > * {
  user-select: none;
}

.techNewsFilterBlockItem h3{
  margin-bottom: 10px;
}

.techNewsFilterBlockItem::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 132px;
  width: 115.18px;
  height: 120px;
  background: url(./img/newsTagXback.png);
  background-repeat: no-repeat;
  opacity: 0.16;
} 

.blockCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
}

.activeChoiceBlock {
  background-color: black;
  color: white;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  /* position: absolute; */
  left: 0;
}

.techNewsFilterItemText {
  list-style: none;
}

.techNewsFilterItemText li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.techNewsFilterChipsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align:stretch;
      -ms-flex-align:stretch;
          align-items:stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 12px;
}

.techNewsFilterChipsItem {
  margin-right: 12px;
  margin-top: 12px;
  height: 40px;
  width: auto;
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activeChoiceChip {
  background-color: black;
  color: white;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

