.header {
  width: 100%;
  background: 
    url(../img/Illustrations1.png), 
    url(../img/Illustrations2.png), 
    linear-gradient(135deg, rgba(171, 220, 255, 0.32) 0%, rgba(3, 150, 255, 0.32) 100%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: -0.5% 30px, 98% 100px, 0 0;
  background-size: 27%, 37%, 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
  
.headerContentContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 61px 0 48px 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .headerTextContainer, .headerTextButtons, .headerSearchForm, .headerTextContainer p {
    margin-top: 40px;
  }
  .headerTextButton {
    margin-right: 32px;
  }
}


.headerTextContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  line-height: 64px;
}

.headerTextContainer p {
  font-size: 24px;
  opacity: 0.48;
  line-height: 32px;
}

.headerTextButtons{
  display:flex;
  justify-content: flex-start;
  gap: 32px;
}

.headerTextButton {
  display: flex;
  width: 165px;
  height: 48px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.headerTextButton:nth-child(1) {
  border: 1px solid #000000;
  border-radius: 8px;
}

.headerTextButton:nth-child(2) {
  width: auto;
}

.headerTextButton span {
  margin-right: 8px;
}

.headerSearchForm {
  position: relative;
}
.headerSearchInput {
  display: block;
  width: 100%;
  height: 56px;
  margin-top: 60px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 0 55px 0 24px;
  font-family: 'SF Pro Text';
  font-size: 20px;
}

.headerSearchButton {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  top: 75px;
  right: 24px;
  cursor: pointer;
}

.headerSearchInput::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.48);
  font-size: 20px;
  font-family: 'SF Pro Text';
}

.headerSearchInput::-moz-placeholder {
  color: rgba(0, 0, 0, 0.48);
  font-size: 20px;
  font-family: 'SF Pro Text';
}

.headerSearchInput:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.48);
  font-size: 20px;
  font-family: 'SF Pro Text';
}

.headerSearchInput::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.48);
  font-size: 20px;
  font-family: 'SF Pro Text';
}

.headerSearchInput::placeholder {
  color: rgba(0, 0, 0, 0.48);
  font-size: 20px;
  font-family: 'SF Pro Text';
} 

.headerChipsContainer {
  position: relative;
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 12px;
}

.headerChipsLine {
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; 
  overflow: hidden;
  min-width: 100%;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  gap: 12px;
}

.headerChipsBlock {
  display: flex;
  gap: 12px;
  justify-content: space-between; 
  flex-wrap: nowrap;
  overflow: hidden;
  min-width: 100vw;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-animation: header-move linear 200s infinite;
          animation: header-move linear 200s infinite;
}

.headerChip {
  display: inline-block;
  height: 40px;
  background: rgba(255, 255, 255, 1);
  border-radius: 40px;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  padding: 0 16px;
  width: auto;
  white-space: nowrap;
  cursor: pointer;
  opacity: 0.4;
}

@-webkit-keyframes header-move { 
  0% { 
    transform: translateX(0);
  } 
  100% {
    transform: translateX(-100%);
 }
}

@keyframes header-move { 
  0% { 
    transform: translateX(0);
  } 
  100% {
    transform: translateX(-100%);
 }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .headerChipsContainer > * {
    margin-bottom: 12px;
  }

  .headerChipsLine > * {
    margin-left: 12px;
  }

  .headerChipsBlock > * {
    margin-left: 12px;
  }
}