
.mainWhoItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainWhoItem {
  height: 114px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 16px;
}

.mainWhoItem:nth-last-child(1) {
  margin-bottom: 0;
}

.mainWhoItem > img {
  margin-right: 24px;
}

.mainWhoItemData {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
}

.mainWhoItemName {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.mainWhoItemPosition {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.48;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.mainWhoItemSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mainWhoItemSocial a {
  height: 24px;
  margin-right: 16px;
}
