.FilterContainer {
  padding: 12px;
  position: absolute;
  top: 0;
  right: 0;
  width: 375px;
  min-width: 320px;
  z-index: 10;
  height: 75vh;
  min-height: 600px;
  max-height: 812px;
}

.Filter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

.FilterContent {
  width: 100%;
  display: grid;
  row-gap: 24px;
  margin-bottom: 20px;
} 

.FilterHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 12px;
  align-items: center;
}

.FilterClose {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.FilterHeader p {
  font-size: 16px;
  line-height: 24px;
}

.FilterClear {
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.FilterSection {
  width: 100%;
  display: grid;
  row-gap: 12px;
  padding: 0 12px;
}

.FilterCheckbox {
  display: block;
  align-items: center;
  line-height: 10px;
}

.FilterCheckbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.FilterCheckbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 16px;
  line-height: 16px;
}

.FilterCheckbox > span::before {
  display: inline-block;
  box-sizing: border-box;
  left: 0;
  top: 0;
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-right: 12px;
  cursor: pointer;
}

.FilterCheckbox>input:checked+span::before {
  border: none;
  box-sizing: border-box;
  background-image: url(./img/checked.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0B63CB;
}

.FilterFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 12px 16px 12px;
  flex-grow: 1;
}

.FilterFooter div {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {  
  .FilterContainer {
    width: 100%;
    left: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .FilterContent > * {
    margin-top: 24px;
  }

  .FilterCheckbox > * {
    margin-top: 12px;
  }
  
  FilterSection > * {
    margin-top: 12px;
  }
}