.aboutSection {
  margin-top: 24px;
  margin-bottom: 24px;
}

.aboutSection p {
  opacity: 0.48;
  font-size: 16px;
  line-height: 24px;
}

.aboutSection h3 {
  margin-bottom: 12px;
}

.aboutImgContainer {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.aboutImage {
  width: 109px;
  height: 109px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}