.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainSection {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  padding: 80px 0;
}

.mainSection > div {
  margin-bottom: 32px;
}

.mainSection > div:nth-last-child(1) {
  margin-bottom: 0;
}

.mainBorder {
  margin: 0;
  padding: 0;
  border-top: 1px solid;
  border-top-color:  rgba(0, 0, 0, 0.08);
  width: 100%;
  height: 1px;
  }
    
  .mainSection > .mainSectionTitleContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

.mainSectionTitleContainer > * {
  margin-bottom: 32px;
}

.mainSectionTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainSectionTitleExpand {
  display: inline-block;
  height: 40px;
  padding: 0 16px;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 20px;
  color:#000000;
  -webkit-transition: color 300ms;-o-transition: color 300ms;transition: color 300ms;
}

.mainSectionTitleExpand:hover,  .mainSectionTitleExpand:active {
  color: #0B63CB;
}

.mainSectionTitleExpand a {
  text-decoration: none;
  color:inherit;
}

.mainSectionTitleExpand svg {
  -webkit-transition: fill 300ms;
  -o-transition: fill 300ms;
  transition: fill 300ms;
}

.mainSectionTitleExpand:hover svg,  .mainSectionTitleExpand:active svg{
  fill: #0B63CB;
}

.mainSectionTitleText{
  font-size: 16px;
  line-height: 24px;
  opacity: 0.48;
}

.mainSectionMore {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 48px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: color 300ms, border-color 300ms;
  -o-transition: color 300ms, border-color 300ms;
  transition: color 300ms, border-color 300ms;
}

.mainSectionMore span {
  margin-right: 7px;
  color: inherit
}

.mainSectionMore svg {
  margin-top: 3px;
  fill: #000000;
  -webkit-transition: fill 300ms;
  -o-transition: fill 300ms;
  transition: fill 300ms;
}

.mainSectionMore:hover, .mainSectionMore:active {
  color: #0B63CB;
  border-color: #0B63CB
}

.mainSectionMore:hover svg, .mainSectionMore:active svg {
  fill: #0B63CB;
}

@media screen and (max-width: 630px) {
  .mainSection {
    padding: 48px 12px;
    max-width: 600px;
    width: 100%;
  }

  .mainSection > div {
    margin-bottom: 24px;
  }

  .mainSectionTitleContainer > * {
    margin-bottom: 24px;
  }

  .mainSectionMore {
    height: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .mainSectionTitleExpand span {
    display: none;
  }
}
